In [5]:
import sqlalchemy

In [6]:
engine = sqlalchemy.create_engine('sqlite:///../../data/COMPAS/compas.db')

In [3]:
inspector = sqlalchemy.inspect(engine)

In [4]:
inspector.get_table_names()

['casearrest',
 'charge',
 'compas',
 'jailhistory',
 'people',
 'prisonhistory',
 'summary']

In [5]:
cursor = engine.execute('SELECT * FROM compas LIMIT 10')

In [6]:
cursor.fetchall()

[(1, 'miguel', 'hernandez', 56418, 58393, 64352, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-08-14 00:00:00.000000', 1, 'Low', 'Low', 7, 'Risk of Violence', -4.31, 1, 1),
 (2, 'miguel', 'hernandez', 56418, 58393, 64352, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-08-14 00:00:00.000000', 1, 'Low', 'Low', 8, 'Risk of Recidivism', -2.78, 1, 1),
 (3, 'miguel', 'hernandez', 56418, 58393, 64352, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-08-14 00:00:00.000000', 1, 'Low', 'Low', 18, 'Risk of Failure to Appear', 13, 1, 1),
 (4, 'michael', 'ryan', 68603, 72042, 79669, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2014-12-31 00:00:00.000000', 1, 'Low', 'Low', 7, 'Risk of Violence', -2.75, 2, 2),
 (5, 'michael', 'ryan', 68603, 72042, 79669, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2014-12-31 00:00:00.000000', 1, 'Low', 'Medium', 8, 'Risk of Recidivism', -0.34, 5, 2),
 (6, 'michael', 'ryan', 68603, 72042, 79669, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2014-12-31 00:00:00.000000', 1, 'Low', 'Low', 18, 'Risk of Failure to Appear', 16, 2, 2),
 (7, 'kevon', 'dixon', 51601, 52796, 58102, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-01-27 00:00:00.000000', 1, 'Low', 'Low', 7, 'Risk of Violence', -3.07, 1, 3),
 (8, 'kevon', 'dixon', 51601, 52796, 58102, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-01-27 00:00:00.000000', 1, 'Low', 'Low', 8, 'Risk of Recidivism', -0.76, 3, 3),
 (9, 'kevon', 'dixon', 51601, 52796, 58102, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-01-27 00:00:00.000000', 1, 'Low', 'Medium', 18, 'Risk of Failure to Appear', 25, 6, 3),
 (10, 'ed', 'philo', 38864, 55421, 61042, 'PRETRIAL', 'Risk and Prescreen', 'Intake', 'Pretrial', 'Jail Inmate', 'Single', '2013-04-14 00:00:00.000000', 1, 'Low', 'Low', 7, 'Risk of Violence', -2.26, 3, 4)]

In [8]:
import pandas

In [8]:
people = pandas.read_sql('people', engine)

In [9]:
people.head()

,id,name,first,last,sex,race,dob,age,age_cat,juv_fel_count,...,r_offense_date,r_charge_desc,r_jail_in,r_jail_out,is_violent_recid,num_vr_cases,vr_case_number,vr_charge_degree,vr_offense_date,vr_charge_desc
0,1,miguel hernandez,miguel,hernandez,Male,Other,1947-04-18,69,Greater than 45,0,...,NaT,None,NaT,NaT,0,None,None,None,NaT,None
1,2,michael ryan,michael,ryan,Male,Caucasian,1985-02-06,31,25 - 45,0,...,NaT,None,NaT,NaT,0,None,None,None,NaT,None
2,3,kevon dixon,kevon,dixon,Male,African-American,1982-01-22,34,25 - 45,0,...,2013-07-05,Felony Battery (Dom Strang),NaT,NaT,1,None,13009779CF10A,(F3),2013-07-05,Felony Battery (Dom Strang)
3,4,ed philo,ed,philo,Male,African-American,1991-05-14,24,Less than 25,0,...,2013-06-16,Driving Under The Influence,2013-06-16 09:05:47,2013-06-16 07:18:55,0,None,None,None,NaT,None
4,5,marcu brown,marcu,brown,Male,African-American,1993-01-21,23,Less than 25,0,...,NaT,None,NaT,NaT,0,None,None,None,NaT,None

In [10]:
people.columns

Index(['id', 'name', 'first', 'last', 'sex', 'race', 'dob', 'age', 'age_cat',
       'juv_fel_count', 'juv_misd_count', 'juv_other_count',
       'compas_screening_date', 'decile_score', 'score_text', 'violent_recid',
       'priors_count', 'days_b_screening_arrest', 'c_jail_in', 'c_jail_out',
       'c_case_number', 'c_days_from_compas', 'c_arrest_date',
       'c_offense_date', 'c_charge_degree', 'c_charge_desc', 'is_recid',
       'num_r_cases', 'r_case_number', 'r_charge_degree', 'r_days_from_arrest',
       'r_offense_date', 'r_charge_desc', 'r_jail_in', 'r_jail_out',
       'is_violent_recid', 'num_vr_cases', 'vr_case_number',
       'vr_charge_degree', 'vr_offense_date', 'vr_charge_desc'],
      dtype='object')

In [11]:
compas = pandas.read_sql('compas', engine)

In [12]:
compas.head()

,id,first,last,compas_person_id,compas_case_id,compas_assessment_id,agency_text,scale_set,assessment_reason,legal_status,...,marital_status,screening_date,rec_supervision_level,rec_supervision_level_text,score_text,scale_id,type_of_assessment,raw_score,decile_score,person_id
0,1,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14,1,Low,Low,7,Risk of Violence,-4,1,1
1,2,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14,1,Low,Low,8,Risk of Recidivism,-2,1,1
2,3,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14,1,Low,Low,18,Risk of Failure to Appear,13,1,1
3,4,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2014-12-31,1,Low,Low,7,Risk of Violence,-2,2,2
4,5,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2014-12-31,1,Low,Medium,8,Risk of Recidivism,0,5,2

In [13]:
compas.columns

Index(['id', 'first', 'last', 'compas_person_id', 'compas_case_id',
       'compas_assessment_id', 'agency_text', 'scale_set', 'assessment_reason',
       'legal_status', 'custody_status', 'marital_status', 'screening_date',
       'rec_supervision_level', 'rec_supervision_level_text', 'score_text',
       'scale_id', 'type_of_assessment', 'raw_score', 'decile_score',
       'person_id'],
      dtype='object')

In [9]:
df = pandas.read_sql('SELECT race, compas.score_text FROM people JOIN compas ON person_id = people.id', engine)

In [10]:
df.head()

        race score_text
0      Other        Low
1      Other        Low
2      Other        Low
3  Caucasian        Low
4  Caucasian     Medium

In [25]:
!pip install bayespy

Collecting bayespy
  Downloading https://files.pythonhosted.org/packages/e9/19/dda8b96897ec9f188fc48becc04f0b9bc9c504c4791086fb4f0211306019/bayespy-0.5.17.tar.gz (395kB)
    100% |████████████████████████████████| 399kB 12.9MB/s
Requirement already satisfied: numpy>=1.10.0 in /Users/dirk/.venv/p3/lib/python3.6/site-packages (from bayespy) (1.14.2)
Requirement already satisfied: scipy>=0.13.0 in /Users/dirk/.venv/p3/lib/python3.6/site-packages (from bayespy) (1.0.0)
Collecting h5py (from bayespy)
  Downloading https://files.pythonhosted.org/packages/44/81/50a0560aac57a33c2a624d9e160735f39d7a6324e3f6f115425a1bf01dd9/h5py-2.8.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (6.0MB)
    100% |████████████████████████████████| 6.1MB 3.3MB/s
Requirement already satisfied: six in /Users/dirk/.venv/p3/lib/python3.6/site-packages (from h5py->bayespy) (1.11.0)
Building wheels for collected packages: bayespy
  Running setup.py bdist_wheel for bayespy ... done
  Stored in directory: /Users/dirk/Library/Caches/pip/wheels/1d/db/31/e5fd5f3a154a21a29ceb8b15d689d98436b5a3f418782f569b
Successfully built bayespy
Installing collected packages: h5py, bayespy
Successfully installed bayespy-0.5.17 h5py-2.8.0

In [1]:
!pip install git+https://github.com/CyberPoint/libpgm

Collecting git+https://github.com/CyberPoint/libpgm
  Cloning https://github.com/CyberPoint/libpgm to /private/var/folders/x0/742x09kj1n39fzh24dts43sw0000gn/T/pip-req-build-wenczjg1
Requirement already satisfied (use --upgrade to upgrade): libpgm==1.3 from git+https://github.com/CyberPoint/libpgm in /Users/dirk/.venv/p3/lib/python3.6/site-packages
Building wheels for collected packages: libpgm
  Running setup.py bdist_wheel for libpgm ... done
  Stored in directory: /private/var/folders/x0/742x09kj1n39fzh24dts43sw0000gn/T/pip-ephem-wheel-cache-x9y_4o7a/wheels/78/ba/5f/516e73ddc2f6b8b984faedd6c8ee626bcb394bcdbc058a6910
Successfully built libpgm

In [15]:
from libpgm.pgmlearner import PGMLearner

SyntaxError: invalid syntax (bntextutils.py, line 22)

In [16]:
# new version of pgmpy required to work with pandas > 0.18
#!pip install git+https://github.com/pgmpy/pgmpy

In [3]:
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator, ParameterEstimator

In [4]:
model = BayesianModel([('race', 'score_text')])

In [12]:
pe = ParameterEstimator(model, df)

In [13]:
pe.state_counts('score_text')

race       African-American Asian Caucasian Hispanic Native American Other
score_text
High                    0.0   0.0       0.0      0.0             0.0   0.0
Low                     0.0   0.0       0.0      0.0             0.0   0.0
Medium                  0.0   0.0       0.0      0.0             0.0   0.0
N/A                     0.0   0.0       0.0      0.0             0.0   0.0

In [14]:
pe.state_counts('race')

                   race
African-American  18978
Asian               180
Caucasian         12771
Hispanic           3450
Native American     129
Other              2070

In [22]:
model.fit(df, estimator=MaximumLikelihoodEstimator)

In [23]:
for cdp in model.get_cpds():
    print(cdp)

╒════════════════════════╤════════════╕
│ race(African-American) │ 0.50503    │
├────────────────────────┼────────────┤
│ race(Asian)            │ 0.00479004 │
├────────────────────────┼────────────┤
│ race(Caucasian)        │ 0.339853   │
├────────────────────────┼────────────┤
│ race(Hispanic)         │ 0.091809   │
├────────────────────────┼────────────┤
│ race(Native American)  │ 0.00343286 │
├────────────────────────┼────────────┤
│ race(Other)            │ 0.0550854  │
╘════════════════════════╧════════════╛
╒════════════════════╤════════════════════════╤═════════════╤═════════════════╤════════════════╤═══════════════════════╤═════════════╕
│ race               │ race(African-American) │ race(Asian) │ race(Caucasian) │ race(Hispanic) │ race(Native American) │ race(Other) │
├────────────────────┼────────────────────────┼─────────────┼─────────────────┼────────────────┼───────────────────────┼─────────────┤
│ score_text(High)   │ 0.25                   │ 0.25        │ 0.25            │ 0.25           │ 0.25                  │ 0.25        │
├────────────────────┼────────────────────────┼─────────────┼─────────────────┼────────────────┼───────────────────────┼─────────────┤
│ score_text(Low)    │ 0.25                   │ 0.25        │ 0.25            │ 0.25           │ 0.25                  │ 0.25        │
├────────────────────┼────────────────────────┼─────────────┼─────────────────┼────────────────┼───────────────────────┼─────────────┤
│ score_text(Medium) │ 0.25                   │ 0.25        │ 0.25            │ 0.25           │ 0.25                  │ 0.25        │
├────────────────────┼────────────────────────┼─────────────┼─────────────────┼────────────────┼───────────────────────┼─────────────┤
│ score_text(N/A)    │ 0.25                   │ 0.25        │ 0.25            │ 0.25           │ 0.25                  │ 0.25        │
╘════════════════════╧════════════════════════╧═════════════╧═════════════════╧════════════════╧═══════════════════════╧═════════════╛

In [20]:
X = pandas.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo'],
                      'B': ['baz', 'biz', 'baz', 'biz', 'biz']})

In [21]:
X

     A    B
0  foo  baz
1  bar  biz
2  foo  baz
3  bar  biz
4  foo  biz

In [23]:
m = BayesianModel([('A', 'B')])

In [27]:
m.fit(X, estimator=MaximumLikelihoodEstimator)

WARNING:root:Replacing existing CPD for A
WARNING:root:Replacing existing CPD for B

In [28]:
for cdp in m.get_cpds():
    print(cdp)

╒════════╤═════╕
│ A(bar) │ 0.4 │
├────────┼─────┤
│ A(foo) │ 0.6 │
╘════════╧═════╛
╒════════╤════════╤════════╕
│ A      │ A(bar) │ A(foo) │
├────────┼────────┼────────┤
│ B(baz) │ 0.5    │ 0.5    │
├────────┼────────┼────────┤
│ B(biz) │ 0.5    │ 0.5    │
╘════════╧════════╧════════╛

In [35]:
m2 = BayesianModel([['A'], ['B']])
m2.fit(
    pandas.DataFrame({'A': [1,2,1,2,1], 'B': [3,4,3,4,4]}))
for cpd in m2.get_cpds():
    print(cpd)

IndexError: list index out of range